<section id="about" class="main-container">
        <div class="container">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center title">Let's <strong>Play</strong></h2>
            <div class="separator"></div>
            <p class="large text-center">This is a simple game to test your knowledge of the National Air and Space Museum. Make you sure you play through the end—there's something special.</p>

            <p class="large text-center"><a href="/quiz/question/1" class="btn radius-50 btn-success btn-lg">Begin</a></p>
          </div>
          
        <br>
      </section>