<section class="dark-translucent-bg pv-30" style="background-position:50% 30%;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="image-box text-center">
          <audio controls>
            <source src="/assets/template/sounds/biplane-flying-01.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">In what <strong>exhibit</strong> will you find the machine that makes this noise?</h2>
        <div class="separator"></div>
        <p class="large text-center">
          <a href="/quiz/question/4" class="no-underline" onclick="incorrectAnswer(this, 3); return false;"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> Golden Age of Flight</a>
        </p>
        <p class="large text-center">
          <a href="/quiz/question/4" class="no-underline" onclick="incorrectAnswer(this, 3); return false;"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> Exploring The Planets</a>
        </p>
        <p class="large text-center">
          <a href="/quiz/question/4" class="no-underline" onclick="incorrectAnswer(this, 3); return false;"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> Jet Aviation</a>
        </p>
        <p class="large text-center">
          <a href="/quiz/question/4" class="no-underline" onclick="correctAnswer(this, 3); return false;"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> America by Air</a>
        </p>
      </div>
    </div>
  </div>
</section>