<section class="dark-translucent-bg pv-30" style="background-position:50% 30%;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="image-box text-center">
          <img class="img-align-center" src="/assets/template/images/v2_tail_fin.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">What is <strong>This</strong> a Picture of?</h2>
        <div class="separator"></div>
        <p class="large text-center">
          <a href="/quiz/question/3" class="no-underline"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> The fairing of a jet engine</a>
        </p>
        <p class="large text-center">
          <a href="/quiz/question/3" class="no-underline"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> Tail fin of a V2 Rocket</a>
        </p>
        <p class="large text-center">
          <a href="/quiz/question/3" class="no-underline"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> The Wing of a Boeing 747</a>
        </p>
        <p class="large text-center">
          <a href="/quiz/question/3" class="no-underline"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> The Fuel tank of a bi-plane</a>
        </p>
      </div>
    </div>
  </div>
</section>