<section class="dark-translucent-bg pv-30" style="background-position:50% 30%;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="image-box text-center">
          <div class="overlay-container">
            <img src="/assets/template/images/National_Air_and_Space_Museum_Entrance.JPG" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">What <strong>Year</strong> Was the NASM Founded?</h2>
        <div class="separator"></div>
        <p class="large text-center">
          <a href="/quiz/question/2" class="no-underline" onclick="incorrectAnswer(this, 1); return false;"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check" ></i></span> 1921</a>
        </p>
        <p class="large text-center">
          <a href="/quiz/question/2" class="no-underline" onclick="incorrectAnswer(this, 1); return false;"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> 1934</a>
        </p>
        <p class="large text-center">
          <a href="/quiz/question/2" class="no-underline" onclick="correctAnswer(this, 1); return false;"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> 1946</a>
        </p>
        <p class="large text-center">
          <a href="/quiz/question/2" class="no-underline" onclick="incorrectAnswer(this, 1); return false;"><span class="btn radius-50 btn-primary btn-lg btn-round"><i class="fa fa-check"></i></span> 1978</a>
        </p>
      </div>
    </div>
  </div>
</section>