<!-- header-container start -->
      <div class="header-container">
        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ --> 
        <header class="header  fixed   clearfix">
          
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">

                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href=""><img id="logo_img" src="/assets/template/images/seabourne-logo-2xb.png" alt="Built By Seabourne" style="width: 120px; margin-top: 10px;"></a>
                  </div>

                  
                </div>
                <!-- header-left end -->

              </div>
              <div class="col-md-9">
          
                <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">
                  <!-- main-navigation start -->
                  <!-- classes: -->
                  <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                  <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                  <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                  <!-- ================ -->
                  <div class="main-navigation animated">

                    <!-- navbar start -->
                    <!-- ================ -->
                    <nav class="navbar navbar-default" role="navigation">
                      <div class="container-fluid">

                        <!-- Toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                          <ul class="nav navbar-nav navbar-right">
                            <li><a href="#intro">Intro</a></li>
                            <li><a href="#technology">Technology</a></li>
                            <li><a href="#process">Process</a></li>
                            <li><a href="#budget">Budget</a></li>
                            <li><a href="#timeline">Timeline</a></li>
                            <li><a href="#footer">Contact</a></li>
                          </ul>
                        </div>

                      </div>
                    </nav>
                    <!-- navbar end -->

                  </div>
                  <!-- main-navigation end -->
                </div>
                <!-- header-right end -->
          
              </div>
            </div>
          </div>
          
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
    
      
      
      <div id="page-start"></div>

      <!-- section -->
      <!-- ================ -->
      <section id="intro"  class="main-container">
        <div class="container">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center title">We <strong>Build</strong> Great Technology</h2>
            <div class="separator"></div>
            <p class="large text-center">Let's get this out of the way: our founder, Mike Reich, really loves the Air and Space Museum. It was the first place he visited when he moved to DC in 2010, and is still his favorite place to spend a Saturday afternoon.</p>
            <p class="large text-center">In a lot of ways, the Air and Space Museum reflects our values as a company. In the same way that the NASM aims to make science and technology accessible and impactful to the millions of people who visit each year, Seabourne believes that technology can and should be accessible to all in order to make the world a better place.</p>
            <p class="large text-center">In order for that to happen, technology has to be modern, well-executed and functional. But more than that, it should create an experience that delights and surprises people, both in quality of execution and results. Creating that sense of wonder is why we do what we do.</p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h3>We are a <span class="text-default">unique fit</span> for GEER + NASM</h3>
              <div class="separator-2"></div>
              <p>We are a little different than most technology firms. Our team is made up of people with a wide-range of experiences and talents, who are all focused on collaboratively building technology with our customers.</p>
              <p>Our favorite projects are complex: they include tough engineering problems along with interesting user experience needs and a challenging timeline.</p>
              <ul class="list-icons">
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check-1"></i> Experience delivering for large organizations and brands</li>
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="150"><i class="icon-check-1"></i> Deep expertise in full stack solutions, from data to UX</li>
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200"><i class="icon-check-1"></i> Agile, well-managed delivery learned and developed through experience</li>
                <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i> Iterative, communication-focused development process</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h3>How we <span class="text-default">built</span> the game prototype</h3>
              <div class="separator-2"></div>
              <!-- accordion start -->
              <!-- ================ -->
              <p>Creating the game took us two days (<a target="_blank" href="https://github.com/seabourne/nasm-proposal/commits/master">commits don't lie</a>). Here's how we did it.</p>
              <div class="panel-group collapse-style-2" id="accordion-2" >
                <div class="panel panel-default" aria-expanded="true">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="true" >
                        <i class="fa fa-eye pr-10"></i>Design
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne-2" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body bordered p-15">
                      First, we brainstormed what a simplified post-visit game could be to meet the objective of extending user enegagement beyond the museum visit. We designed the user experience using a "mobile first" strategy, ensuring a fully responsive design which scales up to any tablet and desktop screen.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" class="collapsed" aria-expanded="false">
                        <i class="fa fa-leaf pr-10"></i>Environment setup
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body bordered p-15">
                      Next, we created an initial deployment environment on Amazon's AWS using Elastic Beanstalk, Elastic Load Balancer and CloudFront CDN. Because the environment is clustered, it will automatically scale to as many users as necessary.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" class="collapsed" aria-expanded="false">
                        <i class="fa fa-gears pr-10"></i>Configuration
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body bordered p-15">
                      Once the environment was deployed, we created a <a href="https://github.com/seabourne/nasm-proposal">GitHub (it's public, take a look)</a> repository and added in open source components. We used a mix of popular NodeJS modules, as well as some core modules we have developed for similar projects. Because of this re-use, we were able to get an initial skeleton app deployed in less than an hour.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFour-2" class="collapsed" aria-expanded="false">
                        <i class="fa-code fa pr-10"></i>Code Development
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body bordered p-15">
                      Using a modular architecture, we wrote new code for the landing page, quiz, and admin stats reporting views. We also added this proposal as a module which can be consumed as a mobile app or on desktop.  Development was iterative, with contributions made to the GitHub repository as this quick development sprint progressed.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFive-2" class="collapsed" aria-expanded="false">
                        <i class="fa-check fa pr-10"></i>Testing
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body bordered p-15">
                      Once the project was code complete, we began testing using a combination of automated unit tests, as well as functional tests across devices using AWS Device Farm. This ensured that the application works seamlessly on the most common mobile devices.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseSix-2" class="collapsed" aria-expanded="false">
                        <i class="fa-road fa pr-10"></i>Deployment
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body bordered p-15">
                      Finally, we deployed our code to the production AWS enviroment using Elastic Beanstalk. Because of the automation employed to create, configure and develop the application, this was the quickest and simplest part of the whole project.  As such, it is also a strong platform for further development of the actual Smithsonian National Air and Space Museum Mobile App.
                    </div>
                  </div>
                </div>
              </div>
              <!-- accordion end -->
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

<!-- section start -->
      <!-- ================ -->
      <section id="need" class="light-gray-bg pv-30 clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">The <strong>Need</strong></h2>
              <div class="separator"></div>
              <p class="large text-center">GEER is seeking a technical partner to develop an experimental mobile platform for the Smithsonian National Air and Space Museum (NASM). The platform should power apps that are highly engaging and differentiate the Museum. Key to this is the ability to collect and analyze metrics about usage to inform decision making and strategy, while also supporting the latest app development approaches and technologies.</p>
              <p class="large text-center">GEER has asked us to propose a path for collaboration. This project  leverages our strengths, passion and experience making technology accessible to the public. Re-using our work and experience with data, analytics, engaging experiences and mobile, we believe we can bring a unique blend of proven technology and capabilities to meet the ambitious project goals.</p>
              <p class="large text-center">While the resources are limited and the scope is large, this is a project we would love to work on. The following sections outline our proposed technology approach, budget and timeline for delivering the initial mobile app and supporting platform.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section id="technology" class="dark-translucent-bg pv-30 network-background" style="background-position:50% 30%;">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">The <strong>Technology</strong></h2>
              <div class="separator"></div>
              <p class="large text-center">For the NASM platform, we propose leveraging a proven technology stack built on open source solutions. This is what we used to develop the concept game quickly—because the components are modular, we spend development time on high-value tasks unique to the project.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon white-bg small"><img style="padding: 10px 5px; " src="http://www.tivix.com/uploads/blog_pics/aws-logo.png"></span>
                    <div class="body">
                      <h4 class="title">Amazon Web Services</h4>
                      <p>Amazon Web Services offers the virtualized hardware, content distribution networks and auto-scalable architecture used for this application.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                    <span class="icon white-bg small"><img src="http://www.nodeclipse.org/img/logos/Node-JS-logo.png"></span>
                    <div class="body">
                      <h4 class="title">NodeJS</h4>
                      <p>NodeJS is an event-driven I/O server-side JavaScript application server. It is both simple and high-performance and offers a rare combination of openness and proven reliability.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                    <span class="icon white-bg small"><img src="http://mongojack.org/images/mongodb-leaf.png"></span>
                    <div class="body">
                      <h4 class="title">MongoDB</h4>
                      <p>MongoDB is a great a cross-platform document-oriented database.  It's ideal for applications with average data requirements and the need for utmost future flexibility in data architecture.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="250">
                    <span class="icon white-bg small"><img src="http://basicallydan.github.io/phonegap-not-so-bad-talk/phonegap-logo.png"></span>
                    <div class="body">
                      <h4 class="title">PhoneGap</h4>
                      <p>PhoneGap is a mobile development framework.  Using one code-base, you can deliver full-featured, native apps for all major mobile platforms.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="image-box style-1 mb-20 bordered light-gray-bg text-center">
                <div class="overlay-container">
                  <img src="/assets/template/images/platform_architecture.png" alt="">
                  <div class="overlay-to-top">
                    <p class="small margin-clear"><em>The Platform Architecture <br> An open-standards, API based approach.</em></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section id="process" class="light-gray-bg pv-30 clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">Our <strong>Process</strong></h2>
              <div class="separator"></div>
              <p class="large text-center">Delivering agile, iterative, well-executed technology is hard. That's why we've honed our process over the years and developed a hybrid approach which optimizes client satisfaction and development flexibility.  We find it works so well that we recommend breaking longer projects down in 30 to 120 days chunks that guarantee a flexible approach, tangible client outcomes and predictable development path for our team.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 ">
              <div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <span class="icon without-bg"><i class="glyphicon glyphicon-comment"></i></span>
                <div class="body">
                  <h4 class="title">Communication</h4>
                  <p>Unlike many technology companies, we embrace a process of frequent, high-fidelity communication to ensure everyone is aligned with what needs to happen to succeed.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                <span class="icon without-bg"><i class="fa fa-connectdevelop"></i></span>
                <div class="body">
                  <h4 class="title">Risk Management</h4>
                  <p>Technology projects are inherently risky. We use a rigorous discovery and management process to ensure that risks are identified and resolved quickly with minimal impacts on timeline and budget.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <span class="icon without-bg"><i class="glyphicon glyphicon-random"></i></span>
                <div class="body">
                  <h4 class="title">Agility</h4>
                  <p>Sometimes assumptions from the beginning of a project need to change. We use an agile methodology that ensures we can flexibly adapt to new requirements and priorities.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 ">
              <div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="250">
                <span class="icon without-bg"><i class="icon-loop-1"></i></span>
                <div class="body">
                  <h4 class="title">Feedback &amp; Iteration</h4>
                  <p>An application is only great if people love it. We encourage user testing early and often so that we can iterate and improve the product rapidly.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                <span class="icon without-bg"><i class="fa fa-check"></i></span>
                <div class="body">
                  <h4 class="title">QA &amp; Testing</h4>
                  <p>Using both automated and manual tools, every project includes rigorous testing to ensure the final product is stable and ready for use.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="pv-20 ph-20 feature-box-2 light-gray-bg boxed shadow object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="350">
                <span class="icon without-bg"><i class="icon-star-empty"></i></span>
                <div class="body">
                  <h4 class="title">Our Goal is Partnership</h4>
                  <p>We want every project to result in a long-term relationship based on trust. Our most successful projects are the result of working closely with our customer for months and years. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section -->
      <!-- ================ -->
      <section class="pv-30" id="budget">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">Project <strong>Budget</strong></h2>
              <div class="separator"></div>
              <div class="alert  alert-icon alert-info" role="alert">
                <i class="fa fa-info-circle"></i>
                Though this project is fixed-price, we understand that flexibility and agility are key to delivering the final app. To that end, we propose a fixed-price resource-based budget and timeline. This gives us the flexibility to adapt to changing requirements as the project evolves without being locked into a rigidly defined feature specification that is likely to change.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 ">
              <div class="col-md-12 ">
                <h2>Budget by Category</h2>
                <canvas class="budget pie" id="pie-graph" height="200"></canvas>
              </div>
              <div class="col-md-12 ">
                <h2>Budget by Month</h2>
                <canvas class="budget bar" id="bars-graph" height="200" width="270"></canvas>
              </div>
            </div>
            <div class="col-md-7 col-md-offset-1 pv-20">
              <table class="table table-bordered table-colored">
                <thead>
                  <tr>
                    <th>Month</th>
                    <th>Category</th>
                    <th>Cost</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="4">August</td>
                    <td>Design</td>
                    <td>$8,000.00</td>
                  </tr>
                  <tr>
                    <td>Development</td>
                    <td>$24,000.00</td>
                  </tr>
                  <tr>
                    <td>Testing/QA</td>
                    <td>$0.00</td>
                  </tr>
                  <tr>
                    <td>Project Management</td>
                    <td>$3,840.00</td>
                  </tr>
                  <tr>
                    <td rowspan="4">September</td>
                    <td>Design</td>
                    <td>$16,000.00</td>
                  </tr>
                  <tr>
                    <td>Development</td>
                    <td>$32,000.00</td>
                  </tr>
                  <tr>
                    <td>Testing/QA</td>
                    <td>$0.00</td>
                  </tr>
                  <tr>
                    <td>Project Management</td>
                    <td>$5,760.00</td>
                  </tr>
                  <tr>
                    <td rowspan="4">October</td>
                    <td>Design</td>
                    <td>$8,000.00</td>
                  </tr>
                  <tr>
                    <td>Development</td>
                    <td>$8,000.00</td>
                  </tr>
                  <tr>
                    <td>Testing/QA</td>
                    <td>$16,000.00</td>
                  </tr>
                  <tr>
                    <td>Project Management</td>
                    <td>$3,200.00</td>
                  </tr>
                  <tr>
                    <td>November - January</td>
                    <td>Hosting + Bug Fixes</td>
                    <td>$0.00</td>
                  </tr>
                  <tr>
                    <td colspan="2" class=""><strong>Project Total</strong></td>
                    <td><strong>$124,800.00</strong></td>
                  </tr>
                </tbody>
              </table>            
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

      <!-- section start -->
      <!-- ================ -->
      <section id="timeline" class="pv-30 clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-center">Project <strong>Timeline</strong></h2>
              <div class="separator"></div>
              <p class="large text-center"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-xs-4">
                  8/1/15
                </div>
                <div class="col-xs-4">
                  9/1/15
                </div>
                <div class="col-xs-4">
                  10/1/15
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="progress style-2">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="20" aria-valuemax="100" style="width: 20%;">
                      <span>Kickoff/Discovery</span>
                    </div>
                  </div>
                  <div class="progress style-2">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="20" aria-valuemax="100" style="width: 40%; margin-left: 10%;">
                      <span>Design</span>
                    </div>
                  </div>
                  <div class="progress style-2">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="20" aria-valuemax="100" style="width: 40%; margin-left: 30%;">
                      <span>Development</span>
                    </div>
                  </div>
                  <div class="progress style-2">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="20" aria-valuemax="100" style="width: 20%; margin-left: 70%;">
                      <span>Testing/QA</span>
                    </div>
                  </div>
                  <div class="progress style-2">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="20" aria-valuemax="100" style="width: 10%; margin-left: 90%;">
                      <span>Deployment</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- section start -->
      <!-- ================ -->
      <section id="portfolio" class="section pv-30 light-gray-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2 class="title"><span class="text-muted">Our</span> <strong>Experience</strong></h2>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <!-- isotope filters start -->
        <div class="filters text-center">
          <ul class="nav nav-pills">
            <li><a href="#" data-filter=".apps">Apps</a></li>
            <li><a href="#" data-filter=".experiences">Experiences</a></li>
            <li><a href="#" data-filter=".platforms">Platforms</a></li>
            <li class="active"><a href="#" data-filter="*">All</a></li>
          </ul>
        </div>
        <!-- isotope filters end -->
        <div class="isotope-container row grid-space-0 mb-20">
          <div class="col-sm-6 col-md-3 isotope-item platforms experiences">
            <div id="carousel-portfolio" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators bottom margin-clear">
                <li data-target="#carousel-portfolio" data-slide-to="0" class="active"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="image-box text-center">
                    <div class="overlay-container">
                      <img src="http://cait.seacondev.com/home/images/historic.jpg" alt="">
                      <div class="overlay-top">
                        <div class="text">
                          <h3><a href="#project-1" data-toggle="modal">CAIT Historic</a></h3>
                          <p class="small">Platform</p>
                        </div>
                      </div>
                      <div class="overlay-bottom">
                        <div class="links">
                          <a href="#project-1" data-toggle="modal" class="btn btn-gray-transparent btn-animated btn-sm">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="project-1-label">CAIT Historic</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Project Description</h3>
                        <div class="separator-2"></div>
                        <p>The World Resources Institute Historic Climate Data Explorer is a web and mobile app presenting curated climate research data.  This project is the cornerstone of a 3-year engagement with WRI.  The data sets cut across time and geography with historical emissions, projections, global coverage of both climate conditions and policy-making activities, pledges and side-by-side comparison of all countries. The WRI CAIT applications include both high-level dashboard views as well as advanced research tools for data exploration and extraction.</p>
                      </div>
                      <div class="col-md-6">
                        <div class="owl-carousel content-slider-with-controls">
                          <div class="overlay-container">
                            <img src="http://cait.seacondev.com/home/images/historic.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="http://www.dnweb.net/_temp/popup-map-cait.png" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="http://www.dnweb.net/_temp/popup-graph-cait.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <h3>Project Info</h3>
                        <ul class="list">
                          <li><strong class="vertical-divider">Client </strong> World Resources Institute</li>
                          <li><strong class="vertical-divider">Date </strong> 2013</li>
                          <li><strong class="vertical-divider">In </strong> Research and advocacy</li>
                          <li><strong class="vertical-divider">Place </strong> Global</li>
                          <li><strong class="vertical-divider">URL </strong> <a href="#">cait.wri.org/historical</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <h3>More info</h3>
                        <p>Contact us for more info about this project.</p>
                        <form role="form">
                          <div class="form-group has-feedback">
                            <input type="email" class="form-control" id="project-1-email" placeholder="Email">
                            <i class="fa fa-envelope-o form-control-feedback"></i>
                          </div>
                          <a href="#" class="btn btn-default margin-top-clear">Subscribe</a>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal end -->
          </div>
          <div class="col-sm-6 col-md-3 isotope-item experiences">
            <div class="image-box text-center">
              <div class="overlay-container">
                <img src="http://cait.seacondev.com/home/images/paris.jpg" alt="">
                <div class="overlay-top">
                  <div class="text">
                    <h3><a href="#project-2" data-toggle="modal">Paris Contributions Map</a></h3>
                    <p class="small">Experience</p>
                  </div>
                </div>
                <div class="overlay-bottom">
                  <div class="links">
                    <a href="#project-2" data-toggle="modal" class="btn btn-gray-transparent btn-animated btn-sm">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="project-2-label">Project Title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Project Description</h3>
                        <div class="separator-2"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                      </div>
                      <div class="col-md-6">
                        <div class="owl-carousel content-slider-with-controls">
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-2.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-3.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <h3>Project Info</h3>
                        <ul class="list">
                          <li><strong class="vertical-divider">Client </strong> John Doe</li>
                          <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                          <li><strong class="vertical-divider">In </strong> Web Design</li>
                          <li><strong class="vertical-divider">Place </strong> Europe</li>
                          <li><strong class="vertical-divider">URL </strong> <a href="#">www.theproject.com</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <h3>More info</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form role="form">
                          <div class="form-group has-feedback">
                            <input type="email" class="form-control" id="project-2-email" placeholder="Email">
                            <i class="fa fa-envelope-o form-control-feedback"></i>
                          </div>
                          <a href="#" class="btn btn-default margin-top-clear">Subscribe</a>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal end -->
          </div>
          <div class="col-sm-6 col-md-3 isotope-item experiences">
            <div class="image-box text-center">
              <div class="overlay-container">
                <img src="http://cait.seacondev.com/home/images/equity.jpg" alt="">
                <div class="overlay-top">
                  <div class="text">
                    <h3><a href="#project-3" data-toggle="modal">Climate Exquity Explorer</a></h3>
                    <p class="small">Experience</p>
                  </div>
                </div>
                <div class="overlay-bottom">
                  <div class="links">
                    <a href="#project-3" data-toggle="modal" class="btn btn-gray-transparent btn-animated btn-sm">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="project-3-label">Project Title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Project Description</h3>
                        <div class="separator-2"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                      </div>
                      <div class="col-md-6">
                        <div class="owl-carousel content-slider-with-controls">
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-2.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-3.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <h3>Project Info</h3>
                        <ul class="list">
                          <li><strong class="vertical-divider">Client </strong> John Doe</li>
                          <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                          <li><strong class="vertical-divider">In </strong> Web Design</li>
                          <li><strong class="vertical-divider">Place </strong> Europe</li>
                          <li><strong class="vertical-divider">URL </strong> <a href="#">www.theproject.com</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <h3>More info</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form role="form">
                          <div class="form-group has-feedback">
                            <input type="email" class="form-control" id="project-3-email" placeholder="Email">
                            <i class="fa fa-envelope-o form-control-feedback"></i>
                          </div>
                          <a href="#" class="btn btn-default margin-top-clear">Subscribe</a>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal end -->
          </div>
          <div class="col-sm-6 col-md-3 isotope-item apps">
            <div class="image-box text-center">
              <div class="overlay-container">
                <img src="/assets/template/images/voto_latino.png" style="margin: 0 auto; height: 167px;" alt="">
                <div class="overlay-top">
                  <div class="text">
                    <h3><a href="#project-4" data-toggle="modal">Voto Latino</a></h3>
                    <p class="small">App</p>
                  </div>
                </div>
                <div class="overlay-bottom">
                  <div class="links">
                    <a href="#project-4" data-toggle="modal" class="btn btn-gray-transparent btn-animated btn-sm">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="project-4-label">Project Title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Project Description</h3>
                        <div class="separator-2"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                      </div>
                      <div class="col-md-6">
                        <div class="owl-carousel content-slider-with-controls">
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-2.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-3.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <h3>Project Info</h3>
                        <ul class="list">
                          <li><strong class="vertical-divider">Client </strong> John Doe</li>
                          <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                          <li><strong class="vertical-divider">In </strong> Web Design</li>
                          <li><strong class="vertical-divider">Place </strong> Europe</li>
                          <li><strong class="vertical-divider">URL </strong> <a href="#">www.theproject.com</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <h3>More info</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form role="form">
                          <div class="form-group has-feedback">
                            <input type="email" class="form-control" id="project-4-email" placeholder="Email">
                            <i class="fa fa-envelope-o form-control-feedback"></i>
                          </div>
                          <a href="#" class="btn btn-default margin-top-clear">Subscribe</a>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal end -->
          </div>
          <div class="col-sm-6 col-md-3 isotope-item platforms experiences">
            <div class="image-box text-center">
              <div class="overlay-container">
                <img src="/assets/template/images/fcc_dot_gov.png" alt="">
                <div class="overlay-top">
                  <div class="text">
                    <h3><a href="#project-5" data-toggle="modal">FCC.gov</a></h3>
                    <p class="small">Experience, Platform</p>
                  </div>
                </div>
                <div class="overlay-bottom">
                  <div class="links">
                    <a href="#project-5" data-toggle="modal" class="btn btn-gray-transparent btn-animated btn-sm">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="project-5" tabindex="-1" role="dialog" aria-labelledby="project-5-label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="project-5-label">Project Title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Project Description</h3>
                        <div class="separator-2"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                      </div>
                      <div class="col-md-6">
                        <div class="owl-carousel content-slider-with-controls">
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-2.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-3.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <h3>Project Info</h3>
                        <ul class="list">
                          <li><strong class="vertical-divider">Client </strong> John Doe</li>
                          <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                          <li><strong class="vertical-divider">In </strong> Web Design</li>
                          <li><strong class="vertical-divider">Place </strong> Europe</li>
                          <li><strong class="vertical-divider">URL </strong> <a href="#">www.theproject.com</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <h3>More info</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form role="form">
                          <div class="form-group has-feedback">
                            <input type="email" class="form-control" id="project-5-email" placeholder="Email">
                            <i class="fa fa-envelope-o form-control-feedback"></i>
                          </div>
                          <a href="#" class="btn btn-default margin-top-clear">Subscribe</a>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal end -->
          </div>
          <div class="col-sm-6 col-md-3 isotope-item platforms apps">
            <div class="image-box text-center">
              <div class="overlay-container">
                <img src="/assets/template/images/cait_mobile.png" style="height: 192px; margin: 0 auto;" alt="">
                <div class="overlay-top">
                  <div class="text">
                    <h3><a href="#project-6" data-toggle="modal">CAIT Mobile</a></h3>
                    <p class="small">Platform, App</p>
                  </div>
                </div>
                <div class="overlay-bottom">
                  <div class="links">
                    <a href="#project-6" data-toggle="modal" class="btn btn-gray-transparent btn-animated btn-sm">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="project-6" tabindex="-1" role="dialog" aria-labelledby="project-6-label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="project-6-label">Project Title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Project Description</h3>
                        <div class="separator-2"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                      </div>
                      <div class="col-md-6">
                        <div class="owl-carousel content-slider-with-controls">
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-2.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-3.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <h3>Project Info</h3>
                        <ul class="list">
                          <li><strong class="vertical-divider">Client </strong> John Doe</li>
                          <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                          <li><strong class="vertical-divider">In </strong> Web Design</li>
                          <li><strong class="vertical-divider">Place </strong> Europe</li>
                          <li><strong class="vertical-divider">URL </strong> <a href="#">www.theproject.com</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <h3>More info</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form role="form">
                          <div class="form-group has-feedback">
                            <input type="email" class="form-control" id="project-6-email" placeholder="Email">
                            <i class="fa fa-envelope-o form-control-feedback"></i>
                          </div>
                          <a href="#" class="btn btn-default margin-top-clear">Subscribe</a>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal end -->
          </div>
          <div class="col-sm-6 col-md-3 isotope-item platforms">
            <div class="image-box text-center">
              <div class="overlay-container">
                <img src="/assets/template/images/pnnl.jpg" alt="">
                <div class="overlay-top">
                  <div class="text">
                    <h3><a href="#project-7" data-toggle="modal">DOE Energy Reporting Platform</a></h3>
                    <p class="small">Platform, Experience</p>
                  </div>
                </div>
                <div class="overlay-bottom">
                  <div class="links">
                    <a href="#project-7" data-toggle="modal" class="btn btn-gray-transparent btn-animated btn-sm">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="project-7" tabindex="-1" role="dialog" aria-labelledby="project-7-label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="project-7-label">Project Title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Project Description</h3>
                        <div class="separator-2"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                      </div>
                      <div class="col-md-6">
                        <div class="owl-carousel content-slider-with-controls">
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-2.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-3.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <h3>Project Info</h3>
                        <ul class="list">
                          <li><strong class="vertical-divider">Client </strong> John Doe</li>
                          <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                          <li><strong class="vertical-divider">In </strong> Web Design</li>
                          <li><strong class="vertical-divider">Place </strong> Europe</li>
                          <li><strong class="vertical-divider">URL </strong> <a href="#">www.theproject.com</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <h3>More info</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form role="form">
                          <div class="form-group has-feedback">
                            <input type="email" class="form-control" id="project-7-email" placeholder="Email">
                            <i class="fa fa-envelope-o form-control-feedback"></i>
                          </div>
                          <a href="#" class="btn btn-default margin-top-clear">Subscribe</a>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal end -->
          </div>
          <div class="col-sm-6 col-md-3 isotope-item apps">
            <div class="image-box text-center">
              <div class="overlay-container">
                <img src="/assets/template/images/radiatePhones2.png" style="height: 196px; margin: 0 auto;" alt="">
                <div class="overlay-top">
                  <div class="text">
                    <h3><a href="#project-8" data-toggle="modal">Radiate App</a></h3>
                    <p class="small">App</p>
                  </div>
                </div>
                <div class="overlay-bottom">
                  <div class="links">
                    <a href="#project-8" data-toggle="modal" class="btn btn-gray-transparent btn-animated btn-sm">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="project-8" tabindex="-1" role="dialog" aria-labelledby="project-8-label" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="project-8-label">Project Title</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Project Description</h3>
                        <div class="separator-2"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                      </div>
                      <div class="col-md-6">
                        <div class="owl-carousel content-slider-with-controls">
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-2.jpg" alt="">
                          </div>
                          <div class="overlay-container">
                            <img src="/assets/template/images/portfolio-1-3.jpg" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <h3>Project Info</h3>
                        <ul class="list">
                          <li><strong class="vertical-divider">Client </strong> John Doe</li>
                          <li><strong class="vertical-divider">Date </strong> OCT 2014</li>
                          <li><strong class="vertical-divider">In </strong> Web Design</li>
                          <li><strong class="vertical-divider">Place </strong> Europe</li>
                          <li><strong class="vertical-divider">URL </strong> <a href="#">www.theproject.com</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <h3>More info</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form role="form">
                          <div class="form-group has-feedback">
                            <input type="email" class="form-control" id="project-8-email" placeholder="Email">
                            <i class="fa fa-envelope-o form-control-feedback"></i>
                          </div>
                          <a href="#" class="btn btn-default margin-top-clear">Subscribe</a>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal end -->
          </div>
        </div>
        <!--<div class="owl-carousel content-slider space-top">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="testimonial text-center">
                  <div class="testimonial-image">
                    <img src="/assets/template/images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                  </div>
                  <h3>Just Perfect!</h3>
                  <div class="separator"></div>
                  <div class="testimonial-body">
                    <blockquote>
                      <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
                    </blockquote>
                    <div class="testimonial-info-1">- Jane Doe</div>
                    <div class="testimonial-info-2">By Company</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="testimonial text-center">
                  <div class="testimonial-image">
                    <img src="/assets/template/images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                  </div>
                  <h3>Amazing!</h3>
                  <div class="separator"></div>
                  <div class="testimonial-body">
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
                    </blockquote>
                    <div class="testimonial-info-1">- Jane Doe</div>
                    <div class="testimonial-info-2">By Company</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </section>
      <section class="padding-bottom-clear white-bg">
        <div class="container white-bg">
          <div class="clients-container">
            <div class="clients">
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                <img src="http://www.seabourneinc.com/wp-content/uploads/2014/10/fcc-logo-Quick-Preset_100x100.png" alt="">
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                <img src="http://www.seabourneinc.com/wp-content/uploads/2014/10/NBC-Sports-logo-Quick-Preset_100x100.png" alt="">
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <img src="http://www.seabourneinc.com/wp-content/uploads/2014/10/olympus-logo-Quick-Preset_100x100.png" alt="">
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                <img src="http://www.seabourneinc.com/wp-content/uploads/2014/10/twitter-logo-Quick-Preset_100x100.png" alt="">
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                <img src="http://www.seabourneinc.com/wp-content/uploads/2014/10/un-logo-Quick-Preset_100x100.png" alt="">
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
                <img src="http://www.seabourneinc.com/wp-content/uploads/2014/10/US-DeptOfEnergy-Seal-Quick-Preset_100x100.png" alt="">
              </div>
              <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
                <img src="http://www.seabourneinc.com/wp-content/uploads/2014/10/wri-logo-Quick-Preset_100x100.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->

<!-- section start -->
      <!-- ================ -->
      <section class="stats padding-bottom-clear dark-translucent-bg hovered background-img-6">
        <!-- footer top start -->
        <!-- ================ -->
        <div class="dark-translucent-bg footer-top animated-text default-hovered" style="background-color:rgba(0,0,0,0.6);">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="call-to-action text-center">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2>Questions or feedback?</h2>
                      <h2>We're here to help.</h2>
                    </div>
                    <div class="col-sm-4">
                      <p class="mt-10"><a href="tel:503-621-7056" class="btn btn-animated btn-lg btn-gray-transparent">Give us a call<i class="fa fa-phone pl-20"></i></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer top end -->
      </section>
      <!-- section end -->
      <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
      <!-- ================ -->
      <footer id="footer" class="clearfix ">

       
        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Crafted for GEER + NASM in 2015 by <a target="_blank" href="http://www.seabourneinc.com">Seabourne</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->

      </footer>
      <!-- footer end -->
      
