<!-- background image -->
      <div class="fullscreen-bg nasm-background"></div>

      <!-- banner start -->
      <!-- ================ -->
      <div class="pv-40 dark-translucent-bg" style="height: 100%;">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
              <div class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                <!-- logo -->
                <!-- name-and-slogan -->
                <p class="small"><img src="http://airandspace.si.edu/files/icons/site/nasm_logo2.png" style=" margin: 0 auto;" /></p>
                <h1 class="page-title text-center">+</h1>
                <p class="small"><img src="/assets/template/images/geer_logo_white.png" style="width: 200px; margin: 0 auto;"/></p>
                <h1 class="page-title text-center">+</h1>
                <p class="small"><img src="/assets/template/images/seabourne-logo.png" style="width: 200px; margin: 0 auto;"/></p>
                <div class="separator"></div>
                <p class="text-center">We created this just for you.</p>
                <a href="/quiz/intro" class="btn radius-50 btn-success btn-lg">Play the Game</a><br/>
                <a href="/propsal" class="small">Skip to the proposal</a>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->