<!-- background image -->
      <div class="fullscreen-bg nasm-background"></div>

      <!-- banner start -->
      <!-- ================ -->
      <div class="pv-40 dark-translucent-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
              <div class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                <!-- logo -->
                <!-- name-and-slogan -->
                <p class="small">NASM</p>
                <h1 class="page-title text-center">+</h1>
                <p class="small">GEER</p>
                <h1 class="page-title text-center">+</h1>
                <p class="small">Seabourne</p>
                <div class="separator"></div>
                <p class="text-center">We created this just for you.</p>
                <a href="/quiz/intro" class="btn radius-50 btn-success btn-lg">Play the Game</a>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->